.horizontal_menu {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.horizontal_menu a {
    margin: 0 15px;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.active_udemy_menu {
    color: #0c50a2;
    color: white;
    border-bottom: 5px solid #5cbfbf;
}