* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 0px 10px 0px;
  background-color: #f8f9fa
}

.main {
  width: 70%;
  margin: 25px auto;
}

button {
  background-color: #d56082;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

button:hover {
  background-color: #c34e6b;
}

button:disabled {
  background-color: rgb(47, 47, 47);
  cursor: none;
}